
    #tableRow:hover {
        background-color: #6366f1;
        td{
            color: white;
        }
    }

.btn-addButton{
    background-color:#6366f1;
    color:white;
    font-weight:bold;
}
.btn:hover{
    background-color:#4f46e5;
    color:#F7E7CE;
}